workflows/[UDIA] Publicar Post en Wordpress + Imagen.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Creo un post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargo la imagen": {
      "main": [
        [
          {
            "node": "Subo la imagen a Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creo un post": {
      "main": [
        [
          {
            "node": "Descargo la imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subo la imagen a Wordpress": {
      "main": [
        [
          {
            "node": "Asigno imagen a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-07T16:38:09.745Z",
  "id": "twBRe0R60VXKsq0D",
  "meta": null,
  "name": "[UDIA] Publicar Post en Wordpress + Imagen",
  "nodes": [
    {
      "parameters": {},
      "id": "4907e65b-eebf-4a23-980f-a735db386af4",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://udia.es/_next/image?url=%2Fassets%2Fudia-2.webp&w=96&q=75",
        "options": {}
      },
      "id": "6b82d8e5-1367-4bf4-9eea-0391ea692c19",
      "name": "Descargo la imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        0
      ]
    },
    {
      "parameters": {
        "title": "Udia Test Post",
        "additionalFields": {
          "content": "Contenido del post",
          "status": "draft",
          "categories": "={{ 45,8 }}"
        }
      },
      "id": "ba72c96f-b1f9-4846-a098-d569d4b76c9e",
      "name": "Creo un post",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        180,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vayesa.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-disposition",
              "value": "=attachment; filename={{ $json.title.rendered }}.{{ $binary.data.fileExtension }}"
            },
            {
              "name": "content-type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "b440749c-96c0-4ba6-b80a-8b263b93d204",
      "name": "Subo la imagen a Wordpress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vayesa.com/wp-json/wp/v2/posts/{{ $('Creo un post').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9085e0ed-17d1-4576-aab3-dfefb0d008a9",
      "name": "Asigno imagen a post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-07T17:43:54.000Z",
  "versionId": "446cc575-1437-4192-9277-323565d36926"
}