workflows/[UDIA] Transformación de datos entre nodos.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Add To Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract part of time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format a date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Substract date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetImage": {
      "main": [
        [
          {
            "node": "Image Format",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-27T16:55:37.447Z",
  "id": "ShJBGl6BEG3vxoNZ",
  "meta": null,
  "name": "[UDIA] Transformación de datos entre nodos",
  "nodes": [
    {
      "parameters": {},
      "id": "c7ee7f89-70b7-4480-ba05-cc63af69cc09",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -680,
        700
      ]
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/rss",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "e9878096-a7fd-4267-8d2d-002773a9b3be",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -500,
        700
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.isoDate }}",
        "timeUnit": "weeks",
        "duration": 10,
        "options": {}
      },
      "id": "6ac889e2-6419-4e04-8d94-af22b07802db",
      "name": "Add To Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $json.isoDate }}",
        "part": "hour",
        "outputFieldName": "year",
        "options": {
          "includeInputFields": false
        }
      },
      "id": "7965679c-6536-4e27-a20e-b1e3b3334a79",
      "name": "Extract part of time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.isoDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy",
        "options": {}
      },
      "id": "94ae8a15-bd37-4248-aac9-09f96751db8c",
      "name": "Format a date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $json.isoDate }}",
        "timeUnit": "years",
        "duration": 20,
        "options": {}
      },
      "id": "29631f77-9afd-4b2a-a3cb-a50065129231",
      "name": "Substract date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "308bc1e5-5b7b-497b-8feb-8bcca5cf7c8f",
              "leftValue": "={{ $json.creator }}",
              "rightValue": "Jorge",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7b62f3ad-b831-461c-bbdb-4e09f210ca1d",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        0,
        700
      ]
    },
    {
      "parameters": {
        "maxItems": 5,
        "keep": "lastItems"
      },
      "id": "86f7d755-f077-480f-b51d-7db30f392fc4",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        0,
        880
      ]
    },
    {
      "parameters": {
        "compare": "allFieldsExcept",
        "fieldsToExclude": "creator",
        "options": {}
      },
      "id": "b5a377db-b746-4d8d-bdf5-8c486a17ce1e",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        0,
        1040
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "link",
        "options": {}
      },
      "id": "4acbcdc5-e2b5-49ef-a2f5-0339cb012beb",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        1180
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "link",
              "renameField": true,
              "outputFieldName": "enlace"
            }
          ]
        },
        "options": {}
      },
      "id": "ce34d7fc-c101-43cd-ba0d-170fb27155b8",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        180,
        1180
      ]
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/negocios/rss",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "ec0baa59-4ca4-4037-a998-e901d57ff63e",
      "name": "RSS Read1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -480,
        1340
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "creator"
            }
          ]
        },
        "options": {}
      },
      "id": "a2d34350-cfec-46f9-b6cd-bdab3fafb8df",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        0,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "id": "d3bcbcf9-ad0d-4b3d-b2a0-1b56e17b1cc6",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        0,
        1680
      ]
    },
    {
      "parameters": {
        "operation": "compress",
        "fileName": "=data_rss_{{ $runIndex }}.zip",
        "binaryPropertyOutput": "rss"
      },
      "id": "889832e5-b969-4a2d-af32-c85f9684dd97",
      "name": "Compression",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        180,
        1680
      ]
    },
    {
      "parameters": {
        "binaryData": true
      },
      "id": "85c65718-24d8-41cb-9d1c-88c287c5d1ce",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        180,
        1840
      ]
    },
    {
      "parameters": {
        "url": "https://wallpapers.com/images/high/waving-logo-of-windows-95-om3nphkrq635dc8u.webp",
        "options": {}
      },
      "id": "317c64f1-5701-41d2-aad4-4f16cd09047b",
      "name": "GetImage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -500,
        1660
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "height": 300,
        "resizeOption": "ignoreAspectRatio",
        "options": {
          "fileName": "",
          "format": "png",
          "quality": 100
        }
      },
      "id": "32373600-ed81-43ad-a9a3-e349830e9e9e",
      "name": "Image Format",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -300,
        1660
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "text": "Reina Méndez para UDIA",
        "options": {}
      },
      "id": "3218965b-1af6-4c0c-8310-496344957b6b",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -260,
        1820
      ]
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "creator",
              "newKey": "medio"
            },
            {
              "currentKey": "title",
              "newKey": "titulo"
            }
          ]
        },
        "additionalOptions": {}
      },
      "id": "49e6e2ed-ce6c-4607-9850-1287baeae1d0",
      "name": "Rename Keys",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        200,
        1360
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "pubDate",
              "order": "descending"
            },
            {
              "fieldName": "medio"
            }
          ]
        },
        "options": {}
      },
      "id": "66b11472-0061-4b42-a60a-6ea39a593f99",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        420,
        1360
      ]
    },
    {
      "parameters": {},
      "id": "d008f150-2790-4314-9b35-eb8f93200ea3",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        0,
        1360
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-27T18:12:47.000Z",
  "versionId": "6e325981-f4c8-4fad-93c4-32c0a66492c0"
}